@charset "utf-8";
#message-consultation {
  padding: 69px 12px 0;
  box-sizing: border-box;
}
.message-consultation {
  width: 100%;
}
.message-consultation > h1.level-heading-1 {
  color: #004e7e;
  font-size: 30px;
  margin-bottom: 15px;
}
.message-consultation .form-coat {
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
}
.message-consultation .form-coat .message-content {
  width: 100%;
}
.message-consultation .form-coat .message-content .message-name,
.message-consultation .form-coat .message-content .message-email,
.message-consultation .form-coat .message-content .message-phone,
.message-consultation .form-coat .message-content .message-information {
  width: 100%;
  background-color: #d7d7d7;
  border-radius: 4px;
}
.message-consultation .form-coat .message-content .message-name > label,
.message-consultation .form-coat .message-content .message-email > label,
.message-consultation .form-coat .message-content .message-phone > label,
.message-consultation .form-coat .message-content .message-information > label {
  display: inline-block;
  margin: 8.5px 9px;
  color: #999999;
  font-size: 18px;
}
.message-consultation .form-coat .message-content .message-name,
.message-consultation .form-coat .message-content .message-email,
.message-consultation .form-coat .message-content .message-phone {
  height: 41px;
  margin-bottom: 11px;
}
.message-consultation .form-coat .message-content .message-name > input,
.message-consultation .form-coat .message-content .message-email > input,
.message-consultation .form-coat .message-content .message-phone > input {
  float: right;
  display: inline;
  color: #999999;
  font-size: 18px;
  width: 180px;
  margin-right: 9px;
  height: 35px;
  margin-top: 3px;
  background-color: #d7d7d7;
  text-align: right;
}
.message-consultation .form-coat .message-content .message-information {
  height: 300px;
}
.message-consultation .form-coat .message-content .message-information > textarea {
  resize: none;
  width: 92%;
  height: 244px;
  color: #999999;
  font-size: 18px;
  margin-left: 9px;
  background-color: #d7d7d7;
  border: none;
  outline: none;
}
.message-consultation .form-coat .message-content .message-btn {
  width: 130px;
  height: 44px;
  line-height: 44px;
  border-radius: 4px;
  background-color: #004e7e;
  font-size: 24px;
  color: #ffffff;
  margin: 30px auto 50px;
  text-align: center;
}
.msg-bomb {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.msg-bomb .bomb-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
  filter: alpha(opacity=8);
}
.msg-bomb .bomb-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -125px;
  width: 250px;
  height: auto;
  background-color: #ffffff;
  border-radius: 4px;
}
.msg-bomb .bomb-box > img.msg-success {
  width: 125px;
  margin: -48px 69.5px 10px 55.5px;
}
.msg-bomb .bomb-box > p.msg-content {
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 18px;
  color: #666666;
}
.msg-bomb .bomb-box .bomb-btn {
  font-size: 18px;
  background-color: #004e7e;
  color: #ffffff;
  margin: 10px auto;
  text-align: center;
  width: 146px;
  height: 38px;
  line-height: 38px;
  border-radius: 4px;
}
