@charset "utf-8";
#store-image {
  padding-top: 49px;
  box-sizing: border-box;
}
.store-image {
  width: 100%;
}
.store-image .image-pics {
  width: 100%;
  overflow-x: hidden;
}
.store-image .image-pics .image-groups {
  position: relative;
  left: 0;
  width: 300%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
}
.store-image .image-pics .image-groups .image-list {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
}
.store-image .image-pics .image-groups .image-list .image-links {
  display: inline-block;
  width: 100%;
}
.store-image .image-pics .image-groups .image-list .image-links > img {
  width: 100%;
}
.store-image .image-pics .image-circle {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  width: 75px;
  margin: 10px auto;
}
.store-image .image-pics .image-circle > li {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
  width: 14px;
  height: 14px;
  background-color: #999999;
  border-radius: 50%;
  margin-right: 11px;
}
.store-image .image-pics .image-circle > li.on {
  background-color: #004e7e;
}
.store-image .image-content {
  width: 100%;
}
.store-image .image-content .image-content-groups {
  position: relative;
  width: 300%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
}
.store-image .image-content .image-content-groups .images-content-list {
  width: 100%;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
  padding: 0 20px;
  box-sizing: border-box;
}
.store-image .image-content .image-content-groups .images-content-list > h1.level-heading-1 {
  color: #004e7e;
  font-size: 30px;
  margin-bottom: 12px;
}
.store-image .image-content .image-content-groups .images-content-list .image-content-address,
.store-image .image-content .image-content-groups .images-content-list .image-content-phone {
  margin-bottom: 12px;
  *zoom: 1;
}
.store-image .image-content .image-content-groups .images-content-list .image-content-address:after,
.store-image .image-content .image-content-groups .images-content-list .image-content-phone:after {
  content: "";
  display: block;
  clear: both;
}
.store-image .image-content .image-content-groups .images-content-list .image-content-address > img,
.store-image .image-content .image-content-groups .images-content-list .image-content-phone > img,
.store-image .image-content .image-content-groups .images-content-list .image-content-address > span,
.store-image .image-content .image-content-groups .images-content-list .image-content-phone > span {
  vertical-align: middle;
  float: left;
  display: inline;
}
.store-image .image-content .image-content-groups .images-content-list .image-content-address > img,
.store-image .image-content .image-content-groups .images-content-list .image-content-phone > img {
  width: 18px;
  margin-right: 12px;
}
.store-image .image-content .image-content-groups .images-content-list .image-content-address > span,
.store-image .image-content .image-content-groups .images-content-list .image-content-phone > span {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
}
.store-image .image-content .image-content-groups .images-content-list .image-content-phone > img {
  margin-top: 3px;
}
.slowShow {
  animation: slowShow 1s ease forwards;
  -webkit-animation: slowShow 1s ease forwards;
}
@keyframes slowShow {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes slowShow {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@media screen and (max-width: 360px) {
  .store-image .image-content .image-content-groups .images-content-list .image-content-address > span {
    margin-left: 32px;
    margin-top: -24px;
  }
}
